<!-- Primera Tarjeta -->
<div class="row">
  <!-- image -->
  <div class="col-md-6 col-sm-12">
    <div class="mt-2">
      <img
        style="max-height: 300px"
        class="img-thumbnail img-fluid"
        src="../../../assets/Certificados/Seprogramar.png"
        alt="Seprogramar Certificacion"
        data-toggle="modal"
        data-target="#Seprogramar"
      />
    </div>
    <div
      class="modal fade"
      id="Seprogramar"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Aquí muestra la imagen en tamaño completo -->
            <img
              src="../../../assets/Certificados/Seprogramar.png"
              alt="Imagen Ampliada"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- description -->
  <div class="col-6 mt-5">
    <h2 class="text-dark">
      Se Programar <br />Febrero / Abril <br />Introduccion a Programacion
      Orientadas a Objetos <br />Javascript y Visual Studio Code
    </h2>
  </div>
</div>
<br>
<!-- Segunda Tarjeta -->
<div class="row">
  <!-- image -->
  <div class="col-md-6 col-sm-12">
    <div class="mt-2">
      <img
        style="max-height: 300px"
        class="img-thumbnail img-fluid"
        src="../../../assets/Certificados/Polotecnologico.jpg"
        alt="Polotecnologico Certificacion"
        data-toggle="modal"
        data-target="#Polotecnologico"
      />
    </div>
    <div
      class="modal fade"
      id="Polotecnologico"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Aquí muestra la imagen en tamaño completo -->
            <img
              src="../../../assets/Certificados/Polotecnologico.jpg"
              alt="Imagen Ampliada"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- description -->
  <div class="col-6 mt-5">
    <h2 class="text-dark">
      Polotecnologico <br />Agosto / Octubre <br />Introduccion a .NET 
      <br />C# Visual Studio
    </h2>
  </div>
</div>
