.columna {
    display: flex;
    justify-content: center;
    align-items: center; /* Ajusta la altura según sea necesario */
    /* border: 1px solid #ddd; */ /* Para visualizar el contenedor */
  }
  
  .centered-div {

    text-align: center; /* Alinea el contenido del div al centro horizontalmente */
  }