<div
  class="row pt-2 pb-2"
  style="display: flex; flex-direction: row; align-items: center"
>
  <div class="col-lg-6 col-sm-12">
    <div
      class="redes"
      id="center"

    >
      <a
        href="https://github.com/Nievas2"
        target="_blank"
        class="text-center"
        style="text-decoration: none"
        ><img
          src="../../../assets/Contact/GitHubLogo.png"
          style="max-height: 80px"
          alt=""
      /></a>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12">
    <div
      class="redes"
      id="center"

    >
      <a
        href="https://www.linkedin.com/in/gabriel-nievas-01a654241/"
        target="_blank"
        class="text-center"
        style="text-decoration: none"
        ><img
          id="center"
          src="../../../assets/Contact/In.png"
          style="max-width: 80px"
          alt=""
      /></a>
    </div>
  </div>
</div>
