<div
  class="row pt-2 pb-2"
  style="display: flex; flex-direction: row; align-items: center"
>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div
      id="center"
      style="
        background-color: #7c7c7c65;
        border-radius: 10px;
        border: 1px solid #ddd;
        padding: 25px;
        max-width: 250px;
      "
    >
      <a
        href="https://github.com/Nievas2"
        target="_blank"
        class="text-center"
        style="text-decoration: none"
        ><img
          src="../../../assets/Contact/GitHubLogo.png"
          style="max-height: 80px"
          alt=""
      /></a>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div
      id="center"
      style="
        background-color: #7c7c7c65;
        border-radius: 10px;
        border: 1px solid #ddd;
        padding: 25px;
        max-width: 250px;
      "
    >
      <a
        href="https://www.linkedin.com/in/gabriel-nievas-01a654241/"
        target="_blank"
        class="text-center"
        style="text-decoration: none"
        ><img
          id="center"
          src="../../../assets/Contact/In.png"
          style="max-width: 80px"
          alt=""
      /></a>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div
      id="center"
      style="
        background-color: #7c7c7c65;
        border-radius: 10px;
        border: 1px solid #ddd;
        padding: 25px;
        max-width: 250px;
      "
    >
      <a
        href="mailto:angelgabrielnievas@gmail.com"
        target="_blank"
        class="text-center"
        style="text-decoration: none"
        ><img
          src="../../../assets/Contact/gmail.svg"
          style="width: 80px"
          alt="gmail"
          id="center"
      /></a>
    </div>
  </div>
</div>
