<div class="container-fluid">
  <div class="row">
    <app-perfil></app-perfil>
  </div>
  <!-- technologies -->
  <div class="row" style="background-color: var(--blue)">
    <h2 class="p-2">Tecnologías</h2>
  </div>

  <app-technologies></app-technologies>

  <!-- proyectos y colaboraciones -->
  <div class="row" style="background-color: var(--blue)">
    <h2 class="p-2">Proyectos y colaboraciones</h2>
  </div>
  <div
    style="
      background-color: #ffffff;
      border-radius: 15px;
      margin: 15px;
      padding: 15px;
    "
  >
    <app-proyects></app-proyects>
  </div>

  <!-- studies -->
  <div class="row" style="background-color: var(--blue)">
    <h2 class="p-2">Estudios</h2>
  </div>
  <!-- Cards -->
  <div style="background-color: #ffffff; border-radius: 15px; margin: 15px">
    <app-studies></app-studies>
  </div>
  <!-- studies -->
  <div class="row" style="background-color: var(--blue)">
    <h2 class="p-2">Links</h2>
  </div>
  <!-- Cards -->
  <div style="background-color: #ffffff; border-radius: 15px; margin: 15px">
    <app-contact></app-contact>
  </div>
</div>
