<!-- tarjetas a mostrar -->
<div class="row">
  <div class="col-12">
    <div
      style="
        background-color: #3e425a;
        background-color: rgba(0, 6, 26, 0.8);
        border-radius: 15px;
        margin: 15px;
        padding: 15px;
      "
    >
      <p align="center">
        <img
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg"
          alt="bootstrap"
          width="60"
          height="60"
        />
        <img
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"
          alt="css3"
          width="60"
          height="60"
        />
        <img
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"
          alt="html5"
          width="60"
          height="60"
        />
        <img
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg"
          alt="javascript"
          width="60"
          height="60"
        />
        <img
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg"
          alt="mysql"
          width="60"
          height="60"
        />
        <img
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg"
          alt="nodejs"
          width="60"
          height="60"
        />

        <img
          width="200"
          height="200"
          src="https://skillicons.dev/icons?i=git,ts,vscode&perline=14"
        />
      </p>
    </div>
  </div>
  <!--  -->
</div>
