<div>
    <!-- Image Perfile -->
    <div
      style="background-color: #2e2e2ed5; border-radius: 15px; margin: 15px"
    >
      <div class="row">
        <div class="col-lg-2 col-sm-12">
          <img
            src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
            style="background-color: #000000; margin: 10px"
            alt="foto de perfil"
            height="150"
            width="150"
          />
        </div>
        <!-- description -->
        <div class="col-lg-9 col-sm-12">
          <div class="row">
            <div class="col">
              <h1 class="text-white"><b>Nievas Angel Gabriel</b></h1>
            </div>
            <div class="col">
              <h1 class="text-white"><b>Developer Full Stack</b></h1>
            </div>
          </div>
          <div>
            <p style="font-family: Fantasy">
              Soy un programador en proceso de aprendizaje con 21 años que
              vive en Mina Clavero, Cordoba. Preparado para entrar en el mundo
              laboral, busco estabilidad en una empresa de forma remota para
              mejorar mis conocimientos sobre las distintas tecnologias y
              brindar el mejor servicio que este a mi alcance.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>