<div class="container-lg">
  <div class="row text-center text-white"><h2>Contacto</h2></div>
  <form [formGroup]="form" (ngSubmit)="sendContact()" *ngIf="!enviado">
    <div class="mb-2">
      <label class="text-white">Email</label>
      <input
        class="form-control"
        formControlName="email"
        name="email"
        type="email"
        placeholder="Escribe tu email"
      />
      <span
      class="text-white"
        *ngIf="
          form.get('email')?.hasError('required') && form.get('email')?.touched
        "
      >
        El campo email es <strong>requerido</strong>
      </span>
      <span
      class="text-white"
        *ngIf="
          form.get('email')?.hasError('email') && form.get('email')?.touched
        "
      >
        Por favor, introduce un email válido.
      </span>
    </div>
    <div class="mb-2 form-floating">
      <label class="text-white">Mensaje</label>
      <textarea
        class="form-control"
        formControlName="mensage"
        type="text"
        style="height: 200px"
      ></textarea>
      
      <span
      class="text-white"
        *ngIf="
          form.get('mensage')?.hasError('required') &&
          form.get('mensage')?.touched
        "
      >
        El campo mensaje es <strong>requerido</strong>
      </span>
    </div>

    <div class="row mt-3" style="background-color: var(--color2)">
      <button
        [disabled]="form.invalid"
        class="submit text-white btn"
        type="submit"
        style="width: 100%; background-color: #1241a765;"
      >
        Enviar
      </button>
    </div>
  </form>
  <div *ngIf="enviado">
    <h4 class="p-2">
      Correo enviado correctamente, Proximamente me estaré comunicando con
      {{ email }}
    </h4>
  </div>
</div>
<app-alerts></app-alerts>
