#mensaje {
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* background-color: #4CAF50; */
    background-color: #2f1394;
    color: white;
    padding: 15px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateX(100%);
    width: 200px;
    z-index: 10000;
  }
  
  #mensaje.visible {
    opacity: 1;
    transform: translateX(0);
  }