<div class="row">
  <h2
    class="text-center p-4"
    style="font-family: Verdana, Geneva, Tahoma, sans-serif"
  >
    La Incubadora del NOC
  </h2>
</div>
<!-- segunda tarjeta -->
<div class="row mt-3">
  <!-- image -->
  <div class="col-lg-6 col-sm-12">
    <img
      src="../../../assets/Proyects/IncubadoraDelNoc.jpg"
      alt="Presupuestos"
      style="max-height: 300px"
      class="img-thumbnail img-fluid"
      alt="Seprogramar Certificacion"
      data-toggle="modal"
      data-target="#IncubadoraDelNocProyect"
    />

    <div
      class="modal fade"
      id="IncubadoraDelNocProyect"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Aquí muestra la imagen en tamaño completo -->
            <img
              src="../../../assets/Proyects/IncubadoraDelNoc.jpg"
              alt="Imagen Ampliada"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- description -->
  <div class="col">
    <h5 class="text-white">
      Tenian una problematica por falta de un lugar para administrar y mostrar
      los cursos que brindaban y futuras convocatorias, además que los alumnos
      puedan inscribirse. (aug/oct - 2023)
      
    </h5>
    <div class="col">
      <button type="button" class="btn btn-success"> <a  href="https://xacademy-874c5.web.app/" target="_blank" style="color: #fff;">Link</a> </button>
    </div>
  </div>
 
</div>
<br />
<div class="linea-blanca"></div>
<div class="row">
  <h2
    class="text-center p-4"
    style="font-family: Verdana, Geneva, Tahoma, sans-serif"
  >Alioli</h2>
</div>
<!-- segunda tarjeta -->
<div class="row mt-3">
  <!-- image -->
  <div class="col-lg-6 col-sm-12">
    <img
      src="../../../assets/Proyects/alioli.png"
      alt="login"
      style="max-height: 300px"
      class="img-thumbnail img-fluid"
      alt="alioli proyecto"
      data-toggle="modal"
      data-target="#alioli"
    />

    <div
      class="modal fade"
      id="alioli"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Aquí muestra la imagen en tamaño completo -->
            <img
              src="../../../assets/Proyects/alioli.png"
              alt="Imagen Ampliada"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- description -->
  <div class="col">
    <h5 class="text-white">
      La empresa requeria una página donde poder mostrar su servicio de catering
      y quienos son, con una descripcion de sus productos y servicios, con sus
      redes sociales y un formulario de contacto para una atención
      personalizada. (ene/feb - 2023)
      <div class="col">
        <button type="button" class="btn btn-success"> <a  href="https://aliolieventos.com/" target="_blank" style="color: #fff;">Link</a> </button>
      </div>
    </h5>
  </div>
</div>
<div class="row">
  <h2
    class="text-center p-4"
    style="font-family: Verdana, Geneva, Tahoma, sans-serif"
  >
    Presupuestos
  </h2>
</div>
<div class="row">
  <!-- image -->

  <div class="col-lg-6 col-sm-12">
    <img
      src="../../../assets/Proyects/Presupuestos.jpg"
      alt="Presupuestos"
      style="max-height: 300px"
      class="img-thumbnail"
      alt="Seprogramar Certificacion"
      data-toggle="modal"
      data-target="#PresupuestosProyect"
    />

    <div
      class="modal fade"
      id="PresupuestosProyect"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Aquí muestra la imagen en tamaño completo -->
            <img
              src="../../../assets/Proyects/Presupuestos.jpg"
              alt="Imagen Ampliada"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- description -->
  <div class="col">
    <h5 class="text-white">
      Se necesitaba un lugar donde poder almacenar precios y hacer rapidos
      calculos de presupuestos para los clientes. (sep - 2023)
    </h5>
  </div>
</div>
<br />
<div class="linea-blanca"></div>
<div class="row">
  <h2
    class="text-center p-4"
    style="font-family: Verdana, Geneva, Tahoma, sans-serif"
  ></h2>
</div>
<!-- segunda tarjeta -->
<div class="row mt-3">
  <!-- image -->
  <div class="col-lg-6 col-sm-12">
    <img
      src="../../../assets/Proyects/login.png"
      alt="login"
      style="max-height: 300px"
      class="img-thumbnail img-fluid"
      alt="login para practicas"
      data-toggle="modal"
      data-target="#login"
    />

    <div
      class="modal fade"
      id="login"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Aquí muestra la imagen en tamaño completo -->
            <img
              src="../../../assets/Proyects/login.png"
              alt="Imagen Ampliada"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- description -->
  <div class="col">
    <h5 class="text-white">
      Fue un miniProyecto con el fin de practicar el funcionamiento de los
      tokens y la creacion de usuarios. (oct - 2023)
      <div class="col">
        <button type="button" class="btn btn-success"> <a  href="https://login-3fe56.web.app/" target="_blank" style="color: #fff;">Link</a> </button>
      </div>
    </h5>
  </div>
</div>

